<ul class="nav navbar-nav narbar-right">
    <li>
        <a href="@Url.Action("ListCart","Cart")" class="fa-shopping-cart">
            Cart<i class="fa fa-shopping-cart">
            </i> (@ViewBag.CountProduct)
        </a>
    </li>
</ul>
